@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --slider-radius: 20px;
}

html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  font-size: 18.5px;
}

/* fb-ins */
.fb-inst {
  position: fixed;
  width: 58px;
  right: 0;
  top: 40%;
  z-index: 22;
}

.fb-inst img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
  border-radius: 10px 0 0 10px;
}

.fb-inst img:hover {
  opacity: 100%;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  transition: all 0s ease;
  background-color: rgb(211, 93, 191);
  opacity: 0.9;
  border-bottom: 1px solid #501537;
  border-radius: 0px 0px 15px 15px;
}

.navbar.sticky {
  opacity: 100%;
  padding: 15px 0;
  background: rgb(211, 93, 191);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo a {
  color: #501537;
}
.navbar .logo {
  font-size: 35px;
  font-weight: 600;
  width: auto;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  border-right: 1px dashed #501537;
}
.navbar .menu li:first-child {
  border-left: 1px dashed #501537;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 5px 44px;
  transition: color 0.3s ease;
  font-family: "Oswald", sans-serif;
}

.navbar .menu li a:hover {
  background-color: #501537;
  border-radius: 20px;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(211, 93, 191);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* all similar content styling code */
section {
  padding: 140px 0;
}
.about,
.services,
.skills,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* oferta section styling */
.about {
  background: rgb(233, 231, 231);
}
.about h1 {
  color: #501537;
  font-family: "Oswald", sans-serif;
  margin: 20px 0;
  font-size: 35px;
  font-weight: 400;
}
.about p {
  margin: 0.55em 0;
}

/* footer section styling */
footer {
  text-align: center;
  background: #111;
  padding: 20px 23px;
  color: #fff;
}
footer span a {
  color: rgb(211, 93, 191);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1211px) {
  .about .about-content .left {
    width: 33%;
    text-align: center;
  }
  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }
  .navbar .menu li a {
    margin-left: 0px;
  }
}
@media (max-width: 1107px) {
  .about .about-content .left {
    width: 33%;
    text-align: center;
  }
  .about .about-content .left img {
    width: 250px;
    height: 250px;
  }
  .navbar .menu li a {
    padding: 5px 35px;
  }
  /* .slider-img {
    width: 100%;
    border-radius: var(--slider-radius);
  } */
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .about .about-content .left img {
    width: 260px;
    height: 260px;
  }
  .navbar .menu li a {
    padding: 5px 35px;
  }
  .fb-inst {
    width: 50px;
  }
  /* .prev,
  .next {
    font-size: 18px;
  } */
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .slideshow-container {
    width: 100%;
  }

  .contact .contact-content {
    flex-wrap: nowrap;
  }
  .contact .contact-content .column iframe {
    width: calc(100%);
    height: 300px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 40px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .slider-img {
    width: 100%;
    border-radius: var(--slider-radius);
  }
  .about h1 {
    font-size: 24px;
  }
  .about p {
    font-size: 15px;
  }

  .fb-inst {
    width: 42px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-1 {
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .contact .contact-content {
    flex-wrap: wrap;
  }
  .slider-img {
    width: 100%;
    border-radius: var(--slider-radius);
  }

  footer span {
    font-size: 15px;
  }
  .scroll-up-btn.show {
    bottom: 40px;
  }
}

@media (max-width: 361px) {
  .navbar .logo {
    font-size: 30px;
    height: 50px;
  }
  .fa-bars:before {
    margin-left: 8px;
  }
  footer span {
    font-size: 13px;
  }
}

@media (max-width: 280px) {
  footer span {
    font-size: 11px;
  }
}

@media (min-height: 1024px) {
  .about {
    height: 95vh;
  }
}
